# Ignore everything in the build directory
/build/*

# But don't ignore the firmware directory inside build
!/build/IO_selftest/

# Only track .uf2 files in the firmware directory
/build/IO_selftest/* 
!/build/IO_selftest/*.elf
!/build/IO_selftest/*.uf2
